body { background: rgb(216, 119, 219);
  font-family: "Times New Roman", Times, serif;
  font-size: 100%;}
head { background: rgb(119, 219, 216);
  font-family: "Arial", sans-serif;
  font-size: 150%;} 